/IRERP-RestAPI/obj/Debug
/IRERP-RestAPI/obj/Debug/ResolveAssemblyReference.cache
/IRERP-RestAPI/obj/Debug/TempPE
/IRERP-RestAPI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/IRERP-RestAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/IRERP-RestAPI/obj/Debug/GenerateResource.read.1.tlog
/IRERP-RestAPI/obj/Debug/GenerateResource.write.1.tlog
/IRERP-RestAPI/obj/Debug/IRERP_RestAPI.ErrorMessages.resources
/IRERP-RestAPI/obj/Debug/IRERP_RestAPI.Res.resources
/IRERP-RestAPI/obj/Debug/IRERP-RestAPI.csproj.FileListAbsolute.txt
/IRERP-RestAPI/obj/Debug/IRERP-RestAPI.csproj.GenerateResource.Cache
/IRERP-RestAPI/obj/Debug/IRERP-RestAPI.csprojResolveAssemblyReference.cache
/IRERP-RestAPI/obj/Debug/IRERP-RestAPI.dll
/IRERP-RestAPI/obj/Debug/IRERP-RestAPI.pdb
/IRERP-RestAPI/obj/Debug/Petiak-RestAPI.csproj.FileListAbsolute.txt
/IRERP-RestAPI/obj/Debug/Petiak-RestAPI.csproj.GenerateResource.Cache
/IRERP-RestAPI/obj/Debug/Petiak-RestAPI.csprojResolveAssemblyReference.cache
obj
obj
/IRERP-RestAPI.v11.suo
/IRERP-RestAPI.v11.suo
/IRERP-RestAPI/bin/IRERP-RestAPI.pdb
/IRERP-RestAPI/bin/IRERP-RestAPI.dll
/NHibernateTest/bin/Debug/NHibernateTest.pdb
/NHibernateTest/bin/Debug/NHibernateTest.exe
obj
/MsdLib/bin/Debug/MsdLib.pdb
/MsdLib/bin/Debug/MsdLib.dll
obj
/IRERP-RestAPI/bin/MsdLib.pdb
/IRERP-RestAPI/bin/IRERP-RestAPI.dll
/IRERP-RestAPI/bin/IRERP-RestAPI.pdb
/IRERP-RestAPI/bin/MsdLib.dll
/fluent-nhibernate/src/FluentNHibernate/obj/Debug/*.cache
*.cache
