<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.15.114;Initial Catalog=testacc1;User ID=sa;Password=123456"/>
    <!--add your connection string Here-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.21.104;Initial Catalog=testacc;User ID=msdtest1;Password=msdtest123456" />-->
  </connectionStrings>
</configuration>