<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link href="~/Scripts/PersianCalendar/skins/aqua/theme.css" rel="stylesheet" />
    <script type="text/javascript"> var baseurl = '';</script>
    <script type="text/javascript"> var isomorphicDir = "/Scripts/isomorphic/" </script>
    <script type="text/javascript" src="~/Scripts/isomorphic/system/modules/ISC_History.js"></script>
    <script type="text/javascript" src="~/Scripts/isomorphic/system/development/ISC_FileLoader.js"></script>
    <script type="text/javascript" src="~/Scripts/isomorphic/system/modules/ISC_Core.js"></script>
    <script type="text/javascript" src="~/Scripts/isomorphic/system/modules/ISC_Foundation.js"></script>
    <script type="text/javascript" src="~/Scripts/isomorphic/system/modules/ISC_Containers.js"></script>
    <script type="text/javascript" src="~/Scripts/isomorphic/system/development/ISC_Grids.js"></script>
    <script type="text/javascript" src="~/Scripts/isomorphic/system/modules/ISC_Forms.js"></script>
    <script type="text/javascript" src="~/Scripts/isomorphic/system/modules/ISC_RichTextEditor.js"></script>
    <script type="text/javascript" src="~/Scripts/isomorphic/system/modules/ISC_DataBinding.js"></script>
    <script type="text/javascript" src="~/Scripts/isomorphic/skins/Enterprise/load_skin.js"></script>
    
    <script src="~/Scripts/jquery-1-9-1.min.js"></script>
    <!--script src="~/Scripts/jquery-1.7.1.min.js"></--script> -->
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script src="~/Scripts/jquery.jqplot.min.js"></script>
    <script src="~/Scripts/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script src="~/Scripts/plugins/jqplot.highlighter.min.js"></script>
    <script src="~/Scripts/irerpjscontrols/irerpcontrols.js"></script>

    <script src="~/Scripts/PersianCalendar/jalali.js"></script>
    <script src="~/Scripts/PersianCalendar/calendar.js"></script>
    <script src="~/Scripts/PersianCalendar/calendar-setup.js"></script>
    <script src="~/Scripts/PersianCalendar/lang/calendar-fa.js"></script>
    <script src="~/Scripts/irerpjscontrols/PersianDatePickerItem.js"></script>
    <script src="~/Scripts/irerpjscontrols/irerpPickTreeItem.js"></script>
    <script src="~/Scripts/JSON-js/json.js"></script>
    <script src="~/Scripts/irerpjscontrols/irerpListGrid.js"></script>
</head>
<body style="background-color:#dddddd">
    @RenderBody()
</body>
</html>
